table {
    border-collapse: collapse;
    user-select: none;
}

.frame {
    width: 28px;
    height: 28px;
    background-color: #C6E0B4;
    text-align: center;
}

.board {
    width: 28px;
    height: 28px;
    background-color: #f1f1f1;
}

.board-selected {
    background-color: #fff59d;
}

canvas {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
